@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

:root{
    --grey: #ccd2d3;
    --black: rgba(0, 0, 0, 0);
    --white: #ffff;
    --text-grey: #727b8a;
    --black-grey: #303846;
    --shadow: rgba(157, 153, 153, 0.8) 0 0 10px;
}

body{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif !important; 
}

h2{
  margin: 0;
  padding: 20px 10px 20px 10px;  
}


.main__content{
    margin: 30px 40px 0px 40px;
    box-shadow: var(--shadow);
    padding-bottom: 30px;
    border-radius: 2px;
    /* border: 2px solid white; */
}


.personal_info{
    border-radius: 2px;
    display: flex;
    background-color: var(--black-grey);
}

.img{
    width: 200px;
    height: 200px;
}

.personal_info img{
    border-radius: 2px;
    width: 200px;
    height: 200px;
}

.personal_info a {
    text-decoration: none;
    color: inherit;
}

.info{
    /* border: 2px solid white; */
    display: inline-block;
    height: 150px;
    color: #979ba2;
}

.info h1 {
    color: white;
    margin: 20px 0px 0px 40px;
}

.info p {
    color: #999999;
    margin: 0px 0px 30px 40px;
}

.info span{
   margin: 0px 0px 5px 40px;
}

.info span i{
    padding: 8px 5px 5px 5px;
}

.content{
    display: flex;
}

.left__content{
    max-width: 1100px !important; 
}

.right__content{
    margin-left: 30px;
    width: 400px;
}

.profile{
    /* border: 1px solid black; */
    margin: 30px 0px 30px 30px;
}

.profile .profile__title{
    font-size: 20px;
    font-weight: bold;
    margin: 20px 20px 20px 20px;
}

.profile p{
    margin: 10px 10px 10px 20px;
}

.training{
    /* border: 1px solid black; */
    margin: 30px 0px 30px 30px;
}

.training .training__title{
    font-size: 20px;
    font-weight: bold;
    margin: 20px 20px 20px 20px;
}

.formation__content p{
    margin: 10px 10px 10px 20px;
}

.formation__content img {
    width: 35px;
    height: 35px;
}

.subTitle__formation{
    font-weight: bold;
    justify-content: space-between;
}

.date__formation{
    margin-right: 40px;
    justify-content: center;
}

.formation__content .formation__chalelo .formation__active{
    width: 355px;
    color: var(--text-grey);
}

.formation__content .formation__chalelo a {
    text-decoration: none;
    color: inherit;
}

.formation__shool{
    display: flex;
   justify-content: space-between;
}

.formation__chalelo {
    display: flex;
    align-items: center;
}

.personalData{
    /* border: 1px solid black; */
    margin: 30px 30px 0px 0px;
}

.personalData .personalData__title{
    font-size: 20px;
    font-weight: bold;
    margin: 20px 20px 20px 50px;
}

.personalData p {
    margin: 20px 20px 20px 50px;
}

.personalData .personalData__active{
    color: var(--text-grey);
}

.divisor__horzonatal{
    height: 1px;
    background-color: #979ba2;
    margin: 30px 30px 30px 30px;
}

.divisor__vertical{
    margin: 30px 10px 30px 50px;
    width: 1px;
    background-color: #979ba2;
}

.experience{
    margin: 30px 0px 30px 30px;
}

.experience p{
    margin: 10px 10px 10px 20px;
}

.experience .experience__sysnet a {
    text-decoration: none;
    color: inherit;
}

.experience .experience__title{
    font-size: 20px;
    font-weight: bold;
    margin: 20px 20px 20px 20px;
}

.experience__info{
    justify-content: space-between;
    margin-right: 40px;
    display: flex;
}

.experience .experience__info .subTitle__experience p{
    margin: 10px 10px 10px 20px;
    font-weight: bolder;
    width: 355px;
}

.experience__sysnet {
    display: flex;
    align-items: center;
}

.experience__sysnet p{
    color: var(--text-grey);
}

.experience__sysnet .experience__active{
    margin: 10px 20px 10px 20px;
    
}

.experience__sysnet img {
    border-radius: 50%;
    width: 37px;
    height: 37px;
}

.references{
    margin: 30px 0px 30px 30px;
}

.references .references__title {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 20px 20px 20px;
}

.references p{
    margin: 10px 10px 10px 20px;
}

.right__content .divisor__horzonatal{
    height: 0.5px;
    background-color: #979ba2;
    margin: 30px 30px 30px 30px;
}

.idioms{
    margin: 30px 30px 0px 0px;
}

.idioms p {
    margin: 20px 20px 20px 10px;
}

.idioms label {
    margin: 20px 20px 20px 50px;
}

.idioms .idioms__title{
    font-size: 20px;
    font-weight: bold;
    margin: 20px 20px 20px 50px;
}

.idioms .idioms__active {
    color: var(--text-grey);
}

.idioms__inglish {
    display: inline-flex;
}

.competiences{
    /* border: 1px solid black; */
    margin: 30px 30px 0px 0px;
}

.competencies__title{
    font-size: 20px;
    font-weight: bold;
    margin: 20px 20px 20px 50px;
}

.comptencies__technologies{
    display: grid;
    grid-template-columns: repeat(auto-fill, 60px);
    grid-auto-rows: minmax(50px, auto);
    margin-left: 40px;
    width: 200px;
    padding: 10px;
    gap: 10px;
}

.comptencies__technologies img{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 4px;
}

@media (max-width: 1049px) {


    .divisor__vertical{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .comptencies__technologies{
        grid-auto-rows: minmax(50px, 50px);
        width: 150px;
    }

    .experience .experience__info .subTitle__experience p {
        width: 250px;
    }

    .experience .experience__sysnet .experience__active{
        width: 350px;
    }

    .divisor__horzonatal{
        height: 1px;
        background-color: #979ba2;
        margin: 30px 30px 30px 30px;
    }

    .right__content .divisor__horzonatal{
        height: 1px;
        background-color: #979ba2;
        margin: 30px 30px 30px 30px;
    }
}

@media (max-width: 915px) {

    .divisor__vertical{
        display: none;
    }

    .divisor__horzonatal{
        height: 1px;
        background-color: #979ba2;
        margin: 30px 30px 30px 30px;
    }

    .right__content .divisor__horzonatal{
        height: 1px;
        background-color: #979ba2;
        margin: 30px 30px 30px 30px;
    }
}



