@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

:root{
    --grey: #ccd2d3;
    --black: rgba(0, 0, 0, 0);
    --white: #ffff;
    --text-grey: #727b8a;
    --black-grey: #303846;
    --shadow: rgba(157, 153, 153, 0.8) 0 0 10px;
}

body{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif !important;
    word-spacing: 0.25em;
    line-height: 22px; 
}

h2{
  margin: 0;
  padding: 20px 10px 20px 10px;  
}


.main__content{
    margin: 30px 40px 0px 40px;
    box-shadow: var(--shadow);
    border-radius: 2px;
    /* border: 2px solid black; */
}


.personal_info{
    width: 100%px;
    border-radius: 2px;
    display: flex;
    background-color: var(--black-grey);
}

.img{
    width: 200px;
    height: 220px;
}

.personal_info img{
    border-radius: 2px;
    width: 200px;
    height: 220px;
}

.personal_info a {
    text-decoration: none;
    color: inherit;
}

.info{
    width: 100%;
    color: #979ba2;
}

.info h1 {
    color: white;
    margin: 20px 0px 0px 40px;
}

.info p {
    color: #999999;
    margin: 10px 0px 30px 40px;
}

.info span{
   margin: 0px 0px 5px 40px;
}

.info span i{
    padding: 8px 5px 5px 5px;
}



.footer{
    text-align: center;
    background-color: #f2f4f6;
    margin: 40px 0px 0px 0px;
}

.footer p {
    padding: 20px;
}

@media screen and (max-width: 1280px){

    .personalInfo{
        margin-left: 0;
    }

}






